<html>
   <script src="https://kit.fontawesome.com/2ff29df84d.js" crossorigin="anonymous"></script>
  <body>
    <center>
      <h1>welcome to
        <i class="fa-solid fa-book"></i>
        <strong>Bookers !!</strong>
      </h1>
    </center>

    <footer>
      <center>
      CopyRight Infratop.inc
      </center>
    </footer>