<html>
   <script src="https://kit.fontawesome.com/2ff29df84d.js" crossorigin="anonymous"></script>
  <body>
    <div class="container">
      <div class="row">
        <div class-"mx-auto">
          <h1 class="ont-weight-bold">welcome to<i class="fa-solid fa-book"></i>Bookers !!</h1>

          <p>In
          <i class="fa-solid fa-book"></i>
          <strong>Bookers,</strong>
          </p>

          <p>you can share and exchange your opinions , inpressions , and emotions</p>
          <p>about various books!</p>

          <% if user_signed_in? %>
            <ul><%= link_to "Log out", destroy_user_session_path, method: :delete %></ul>
          <% else %>
            <ul><%= link_to "Log in" , new_user_session_path, class: "btn btn-info w-100" %></ul>
            <ul><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success w-100" %></ul>
          <% end %>

        <p>CopyRight Infratop.inc</p>

        </div>
      </div>
    </div>
  </body>
</html>